<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <div>
        <h4>Send sample email:</h4>
        <form method="get" style="width: 200px;">
            <fieldset style="border: none; padding-left: 0px; padding-top: 0px">
                <table>
                    <tr>
                        <td>
                            <input type="submit" formaction="mail/send" value="Send Email">
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
